<app-header></app-header>
<div class="back"><img class="portada" src="{{ urlImage + movie.backdrop_path}}" alt=""></div>
<div class="frame">
    <h5>PelisUp  /  Series</h5>
    <div class="nombre">{{movie.name}}</div>
</div>

<img class="card" src="{{ urlImage + movie.poster_path}}" alt="">

<div class="details">
    <h1>{{movie.tagline == undefined ? '' : movie.original_name}} {{movie.tagline.length < 40 ? '' : movie.original_name}} {{movie.tagline.length > 40 ? '' : movie.tagline}}</h1>
    <h2>{{movie.overview || movie.tagline}} {{movie.overview.length+movie.tagline.length > 1 ? '' : 'Vaya!, parece que esta serie no tiene descripción'}}</h2>
    <div class="rating">
        <img width="13.5" height="13.5" src="assets/star.png" alt="">
        {{movie.vote_average|number:"1.1-1"}}
      </div>

    <div class="box2">
        <h3>Type</h3>
        <h4>Serie</h4>
        <h3>First air date</h3>
        <h4>{{movie.first_air_date}}</h4>
        <h3>Seasons</h3>
        <h4>{{movie.number_of_seasons}}</h4>
        <h3>Episode duration</h3>
        <h4>{{movie.episode_run_time}}</h4>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="box3">
        <h6>Status</h6>
        <div class="t1">{{movie.status}}</div>
        <h6>Last air date</h6>
        <div class="t1">{{movie.last_air_date}}</div>
        <h6>Total episodes</h6>
        <div class="t1">{{movie.number_of_episodes}}</div>
    </div>
    

</div>



