<app-header></app-header>
<img class="sally" src="..\..\..\..\assets\Saly-11.png" alt="">

<div class="box">

    <h1 class="titulo">Registrarse</h1>

    <form [formGroup]="Form" class="formulario">

        <div class="input-group rounded">
            <img class="bg-image" width="35" height="35" src="assets/sms.png" width="24px" height="24px">
            <input type="text" class="form-control" placeholder="Usuario" formControlName="username">
        </div>

        <div class="input-group rounded">
            <img class="bg-image" width="35" height="35" src="assets/llave.png" width="24px" height="24px">
            <input type="text" class="form-control" placeholder="Contraseña" formControlName="password">
        </div>

    </form>

    <p>Ya tienes cuenta? <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="/ingresar">Ingresar</a></p>

    <div class="login">
        <button class="boton1" (click)="register()">Registrar</button>
    </div>


    

</div>
