H1{
    width: 350px;
    height: 80px;
    font-weight: 500;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #1946b1;
    margin-top: 130px;
    margin-left: 120px;
    margin-right: 1073px;
}



.input-group{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    margin-left: 120px;
    margin-top: 72px;
    width: 344px;
    height: 64px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    border-radius: 12px;
    color: #475069;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.form-control{
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
}

.box{
    display: flex;
    flex-direction: row;
    padding: 8px;
    position: absolute;
    width: 386px;
    height: 56px;
    left: 120px;
    top: 472px;
    margin-top: 141px;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 12px;
}

.opcion{
    margin-top: 12px;
    margin-left: 25px;
    margin-right: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #8E95A9;
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 8px;
    border-radius: nullpx;
    height: 24px;
    width: 90px;
    left: 32px;
    border-radius: nullpx;
}

.selec{
    height: 40px;
    width: 115px;
    left: 8px;
    top: 8px;
    border-radius: 8px;
    padding: 8px 32px 8px 32px;
    background: #7B6EF6;
    border-radius: 8px;   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
    color: #EBE9FE;
}

p{
    position: absolute;
    width: 142px;
    height: 40px;
    left: 120px;
    top: 552px;
    color: #767E94;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-top: 160px;
    margin-left: auto;
}
span{
  
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}