<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand">
      <img src="assets/logo.png" alt="Bootstrap" width="35" height="35">
      <a></a>
    </a>
    <ul class="navbar-nav ">
      <li class="nav-item mr-4">
        <a class="nav-link" routerLink="/dash"  href="/dash" >Dashboard</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link" routerLink="/agregar"  href="/agregar">Agregar</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link"  routerLink=""  href="" (click)="logOut()" >Salir
          <img src="assets/arrow-right.png" alt="">
        </a>
      </li>
    </ul>
</nav>

<h1>Agregar nuevo item</h1>
<div class="box">
  <div class="input-group rounded">
    <img class="bg-image" width="35" height="35" src="assets/search-normal.svg">
    <input type="text" class="form-control" placeholder="Buscar por series y peliculas" [(ngModel)]="toSearch" (ngModelChange)="search($event)">
  </div>

  <div class="buscar">
    <button class="boton1">Buscar</button>
  </div>
  <div>
  </div>
</div>

<div class="navigation">
  <button *ngIf="cont_pag > 1" class="botonpag" (click)="DecrementarCont()">< Prev. Pagina</button>
  <button *ngIf="cont_pag <= 1" class="botonpagno">< Prev. Pagina</button>
  <button class="botonpag" (click)="IncrementarCont()">Sig. Pagina ></button>
  
</div>


<div class="container">    
  <div class="row">
  <ng-container *ngFor="let movie of movieSeriesRow">
      <div class="card" style="width:18rem;">
        <div class="rating">
          <img width="13.5" height="13.5" src="assets/star.png" alt="">
          {{movie.vote_average|number:"1.1-1"}}
        </div>

        <img  src="{{ urlImage + movie.poster_path}}" class="card_image" height="400" width="274">

        <div *ngIf="movie.title" class="texto">{{movie.title}}

          <button *ngIf="!movie.added"  class="Agregar" (click)="AgregarMovieSerie(movie,'movie')">+  Agregar a mi lista</button>
          <button *ngIf="movie.added" class="Sacar" (click)="BorrarMovieSerie(movie,'movie')">-  Sacar de mi lista</button>
          
        </div>

        <div *ngIf="movie.name" class="texto">{{movie.name}}
          <button *ngIf="!movie.added"  class="Agregar" (click)="AgregarMovieSerie(movie,'tv')">+  Agregar a mi lista</button>
          <button *ngIf="movie.added" class="Sacar" (click)="BorrarMovieSerie(movie,'tv')">-  Sacar de mi lista</button>
          

        </div>

      </div>
    </ng-container>
  </div> 
</div>

<br>
<br>
<br>
<br>

<div class="footer"><br></div>

  


