

<body>
    <div class="wrapper">
        
        <div class="decorator">
            <img src="assets/decorator.png" alt="decorator" width="100%" height="400">
        </div>


        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" routerLinkActive="active" href="/inicio">
              <img src="assets/logoarg.png" alt="Bootstrap" width="150" height="90">
            </a>
            <ul class="navbar-nav ">
              <li>
                <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="https://www.facebook.com/mi_perfil">Facebook</a>
                <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="https://www.twitter.com/mi_perfil">Twitter</a>
                <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="/ingresar">Login</a>
              </li>
            </ul>
        </nav>


        <div class="contain">
            <img src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Fondo.png" class="background">
            <img class="estrellas" src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Estrellas.png">
            <img class="planeta" src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Planeta.png">
            <img class="montana" src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Montanas.png">
            <img src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Suelo.png" class="foreground">
            <h1 class="title">Welcome!</h1>
        </div>

        
        <section class="about">


            <div class="profile">
                <img class="foto" src="assets/perfil.jpg" alt="Mi Foto de Perfil">
                <div class="nombre">
                  <div class="contenido">
                    <h1>{{nombre}}</h1>
                    <img class="editor" src="assets/edit.png" alt="edit" width="20px" height="20px">
                  </div>
                  <div class="cargo-contenido">
                    <h5>{{cargo}}</h5>
                    <img class="editor" src="assets/edit.png" alt="edit" width="20px" height="20px">
                  </div>
                  <div class="texto-contenido">
                    <p class="texto">{{desc}}</p>
                    <img class="editor" src="assets/edit.png" alt="edit" width="20px" height="20px">
                  </div>
                </div>
              </div>
            
            <section class="education">
                <h1>Education</h1>
                <br>
                <div *ngFor="let educacion of educationlist">
                    <div class="educacion-contenido">
                        <img class="instilogo" [src]="educacion.Logo" alt="Logo del Instituto">
                        {{educacion.Inst}}, {{educacion.Carrera}} - {{educacion.Fin}}.
                        <img class="editor-edu" src="assets/edit.png" alt="edit" width="20px" height="20px">
                        <br> <br>
                    </div>
                </div>
            </section>

            
            <div class="skills">
                <h1 >Skills</h1>
                <br>
                <div class="skill-contenido" *ngFor="let skill of skillslist">
                    <p>{{skill.Skill}}, Porcentaje: {{skill.Porcentaje}}%</p>
                    <img class="editor-skill" src="assets/edit.png" alt="edit" width="20px" height="20px">
                </div>
                
            </div>

            <section class="proyectos">
                <h1>Projects</h1>
                <br>
                <div class="proye-contenido" *ngFor="let proyecto of proyectlist">
                  <div class="divisor">
                    <h4>{{proyecto.Nombre}}</h4>
                    <p>Date: {{proyecto.Fecha}}</p>
                    <p>{{proyecto.Desc}}</p>
                    <a class="link_pro" href={{proyecto.Link}}>Link</a> 
                  </div>
                    <img class="editorproye" src="assets/edit.png" alt="edit" width="20px" height="20px">
                   
                    <br>  
                    <br>
                </div>
            </section>
        </section>
    </div>

</body>




        

        
        

