
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    position: absolute;
    width: 95%;
    height: 500px;
    z-index: 0;
    margin-left: 35px;

}
.social {
    text-align: right;
    display: flex;
    justify-content: space-between;
}
.about {
    margin-top: 35px;
    padding: 20px;
    z-index: 2;
}
.profile {
    margin-top: 320px;
    display: flex;
    align-items: center;
}
.nombre{
    margin-top: 180px;
}
.profile img {
    width: 180px;
    height: 170px;
    border-radius: 50%;
    margin-right: 20px;
    z-index: 2;
}
.profile h1 {
    font-size: 24px;
    font-weight: bold;
}
.education {
    padding: 20px;
    margin-left: 35px;
}
.education h2 {
    font-size: 18px;
    font-weight: bold;
}
.education ul {
    list-style-type: none;
    padding: 0;
}
.education li {
    margin-bottom: 10px;
}
.education img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
.skills{
    padding: 20px;
    margin-left: 35px;
}

.proyectos{
    padding: 20px; 
    margin-left: 35px;
}
