nav{
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 120px;
    background: rgba(18, 24, 41, 0.8);
    width: 100%;
    height: 80px;
}

.bg-image {
    opacity: 0.5;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #8c00ff;  
}










.decorator{
    position: absolute;
    margin-top: 690px;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
  
  .contain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    
  }
  
  .background {
    transform: translateZ(-18px) scale(3.1);
  }
  .estrellas {
    transform: translateZ(-10px) scale(2);
  }
  .planeta {
    transform: translateZ(-15px) scale(2.5);
  }
  .montana {
    transform: translateZ(-6px) scale(1.6);
  }
  .foreground {
    transform: translateZ(-5px) scale(1.5);
  }
  
  .background,
  .foreground, .estrellas ,.planeta, .montana {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .title {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;;
  }

.about {
    padding: 20px;
    background: rgb(228,47,84);
    background: linear-gradient(180deg, rgba(228,47,84,1) 1%, rgba(115,133,228,1) 100%);
    background-size: 100%;

    
}

.profile {
    
    display: flex;
    align-items: left;
    margin-left: 50px;
}

.nombre{
    margin-top: 50px;
    color: white;
    text-shadow: 0 0 5px black;
}
.foto{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right: 20px;
    z-index: 2;
}
.profile h1 {
    font-size: 24px;
    font-weight: bold;
}
.education {
    padding: 20px;
    margin-left: 35px;
}
.education h2 {
    font-size: 18px;
    font-weight: bold;
}
.education ul {
    list-style-type: none;
    padding: 0;
}
.education li {
    margin-bottom: 10px;
}
.education img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
.skills{
    padding: 20px;
    margin-left: 35px;
}

.proyectos{
    padding: 20px; 
    margin-left: 35px;
}

  