

<body>
    <div class="wrapper">
        
        <div class="decorator">
            <img src="assets/decorator.png" alt="decorator" width="100%" height="400">
        </div>


        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" routerLinkActive="active" href="/inicio">
              <img src="assets/logoarg.png" alt="Bootstrap" width="130" height="80">
            </a>
            <ul class="navbar-nav ">
              <li>
                <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="https://www.facebook.com/mi_perfil">Facebook</a>
                <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="https://www.twitter.com/mi_perfil">Twitter</a>
                <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="/ingresar">Ingresar</a>
              </li>
            </ul>
        </nav>


        <div class="contain">
            <img src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Fondo.png" class="background">
            <img class="estrellas" src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Estrellas.png">
            <img class="planeta" src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Planeta.png">
            <img class="montana" src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Montanas.png">
            <img src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Suelo.png" class="foreground">
            <h1 class="title">Bienvenidos!</h1>
        </div>

        
        <section class="about">

            <div class="profile">
                <img class="foto" src="assets/perfil.jpg" alt="Mi Foto de Perfil">
                <div class="nombre">
                    <h1>Agustin Edgardo Meneses</h1>
                    <p>Full Stack Developer Jr</p>
                    <p class="texto">Me encuentro cursando tercer año de Ingeniera en Sistemas. <br>
                        Me destaco por mi capacidad para trabajar en equipo, comunicar de manera efectiva y adaptarme a diferentes contextos.</p>
                </div>
            </div>
            
            <section class="education">
                <h1>Educación</h1>
                <div>
                    <div>
                        <img src="assets/logoinsti.png" alt="Logo del Instituto">
                        Universidad Tecnológica Nacional, Ingeniería en Sistemas - en curso.
                    </div>
                    <br>
                    <div>
                        <img src="assets/logocerti.png" alt="Logo de la Certificación">
                        Universidad Siglo 21, Data Engineer Azure - 2022
                    </div>
                </div>
            </section>

            <div class="skills">
            <h1>Hard & Soft Skills</h1>
            <p>JavaScript <progress id="js-progress" value="0" max="100"></progress> <span id="js-value"></span></p>
            <p>HTML/CSS <progress id="html-css-progress" value="0" max="100"></progress> <span id="html-css-value"></span></p>
            <p>TypeScript <progress id="ts-progress" value="0" max="100"></progress> <span id="ts-value"></span></p>
            <p>Azure <progress id="azure-progress" value="0" max="100"></progress> <span id="azure-value"></span></p>
            </div>

            <section class="proyectos">
                <h1>Proyectos</h1>
                <div>
                <div>
                    <h4>PelisPlus!</h4>
                    <p>Fecha de realización: nov 2022</p>
                    <p>Descripción del proyecto: Sitio web de películas que realizé para el Bootcamp de Folcademy usando Angular y Firebase</p>
                    <a href="https://pelisup-dun.vercel.app/">Ver evidencia del proyecto</a>
                </div>
                <br>
                <div>
                    <h4>Excercises Wiki</h4>
                    <p>Fecha de realización: feb 2023</p>
                    <p>Descripción del proyecto: Sitio web de ejercicios donde realizé el Backend con PHP y la gestión de la base de datos con MySQL</p>
                    <a href="https://drive.google.com/drive/folders/1PnTb4ON7YjYtqcVB6B0DBIOPcUnaOTKS">Ver evidencia del proyecto</a>
                </div>
            </div>
            </section>
        </section>
    </div>

</body>




        

        
        

