
<body>
    <div class="wrapper">
        
        


        <app-header></app-header>


        <div class="contain">
            <img class="estrellas" src="https://raw.githubusercontent.com/rgldev/sample-images/master/parallax_scene_2/1x/Estrellas.png">
            <img class="planeta" src="assets/Planeta.png">
            <img class="montana" src="assets/Montanas.png">
            <img src="assets/suelo.png" class="foreground">
            <img src="assets/logoarg.png" class="title">
            <div *ngIf="!loaded" class="cssload-container">
              <div class="cssload-speeding-wheel"></div>
            </div>
        </div>

        
        <section class="about">


            <div class="profile">
                <img class="foto" src="assets/perfil.jpg" alt="Mi Foto de Perfil">
                <div class="nombre">
                  <div class="contenido">
                    <h1>{{nombre}}</h1>
                    <img class="editor" src="assets/edit.png" alt="edit" width="20px" height="20px">
                  </div>
                  <div class="cargo-contenido">
                    <h5>{{cargo}}</h5>
                    <img class="editor" src="assets/edit.png" alt="edit" width="20px" height="20px">
                  </div>
                  <div class="texto-contenido">
                    <p class="texto">{{desc}}</p>
                    <img class="editor" src="assets/edit.png" alt="edit" width="20px" height="20px">
                  </div>
                </div>
              </div>
            
            <section class="education">
                <h1>Education</h1>
                <br>
                <div *ngFor="let educacion of educationlist">
                    <div class="educacion-contenido">
                        <img class="instilogo" [src]="educacion.Logo" alt="Logo del Instituto">
                        {{educacion.Inst}}, {{educacion.Carrera}} - {{educacion.Fin}}.
                        <img class="editor-edu" src="assets/edit.png" alt="edit" width="20px" height="20px">
                        <br> <br>
                    </div>
                </div>
            </section>

            
            <div class="skills">
                <h1 >Skills</h1>
                <br>
                <div class="skill-contenido" *ngFor="let skill of skillslist">
                    <p>{{skill.Skill}}, Porcentaje: {{skill.Porcentaje}}%</p>
                    <img class="editor-skill" src="assets/edit.png" alt="edit" width="20px" height="20px">
                </div>
                
            </div>

            <section class="proyectos">
                <h1>Projects</h1>
                <br>
                <div class="proye-contenido" *ngFor="let proyecto of proyectlist">
                  <div class="divisor">
                    <h4>{{proyecto.Nombre}}</h4>
                    <p>Date: {{proyecto.Fecha}}</p>
                    <p>{{proyecto.Desc}}</p>
                    <a class="link_pro" href={{proyecto.Link}}>Link</a> 
                  </div>
                    <img class="editorproye" src="assets/edit.png" alt="edit" width="20px" height="20px">
                   
                    <br>  
                    <br>
                </div>
            </section>
        </section>
    </div>

</body>




        

        
        

