<app-header></app-header>
<app-titulo></app-titulo>
 
<!--
<div class="input-group rounded">
    <img class="bg-image" width="35" height="35" src="assets/search-normal.svg">
    <input type="text" class="form-control" placeholder="Buscar por series y peliculas" [(ngModel)]="toSearch" (ngModelChange)="search($event)">
</div>

<div class="box">
  <button class="opcion" [ngClass]="filter == 'Todos' ? 'active' : 'danger'" (click)="all(1)">
    Todos
  </button>
  <button class="opcion" [ngClass]="filter == 'movie' ? 'active' : 'danger'" (click)="movies(1)">
    Peliculas
  </button>
  <button class="opcion" [ngClass]="filter == 'tv' ? 'active' : 'danger'" (click)="series(1)">
    Series
  </button>
</div>
 
 
<p>{{actual}}<span>({{cant}})</span></p>
 
 
<app-card class="cartas" [filter]="filter" [movieSeriesRow]="movieSeriesRow"></app-card>
-->

<head>
    <title>Mi Portfolio</title>
</head>
<body>
    <header class="contenedorsocial">
        <div class="social">
            <a href="https://www.facebook.com/mi_perfil" target="_blank">Facebook</a>
            <a href="https://www.twitter.com/mi_perfil" target="_blank">Twitter</a>
            <button>Login</button>
        </div>
    </header>
    <section class="banner">
        <img class="banner" src="assets/portadas/banner.png" alt="">
    </section>
    <section class="about">
        <div class="profile">
            <img src="assets/perfil.jpg" alt="Mi Foto de Perfil">
            <div class="nombre">
                <h1>Agustin Edgardo Meneses</h1>
                <p>Full Stack Developer Jr</p>
                <p>Me encuentro cursando tercer año de Ingeniera en Sistemas.
                    Me destaco por mi capacidad para trabajar en equipo, comunicar de manera efectiva y adaptarme a diferentes contextos.</p>
            </div>
        </div>
    </section>
    <section class="education">
        <h1>Educación</h1>
        <ul>
            <li>
                <img src="assets/logoinsti.png" alt="Logo del Instituto">
                Instituto de Tecnología, Carrera de Ingeniería en Sistemas, 2015-2019
            </li>
            <li>
                <img src="assets/logocerti.png" alt="Logo de la Certificación">
                Certificación en Desarrollo Web, Nombre de la Certificación, 2020
            </li>
        </ul>
    </section>

    <div class="skills">
    <h1>Hard & Soft Skills</h1>
    <p>JavaScript <progress id="js-progress" value="0" max="100"></progress> <span id="js-value"></span></p>
    <p>HTML/CSS <progress id="html-css-progress" value="0" max="100"></progress> <span id="html-css-value"></span></p>
    <p>TypeScript <progress id="ts-progress" value="0" max="100"></progress> <span id="ts-value"></span></p>
    <p>Azure <progress id="azure-progress" value="0" max="100"></progress> <span id="azure-value"></span></p>
    </div>

    <section class="proyectos">
        <h1>Proyectos</h1>
        <ul>
          <li>
            <h4>PelisPlus!</h4>
            <p>Fecha de realización: nov 2022</p>
            <p>Descripción del proyecto: Sitio web de películas que realizé para el Bootcamp de Folcademy usando Angular y Firebase</p>
            <a href="https://pelisup-dun.vercel.app/">Ver evidencia del proyecto</a>
          </li>
          <br>
          <li>
            <h4>Excercises Wiki</h4>
            <p>Fecha de realización: feb 2023</p>
            <p>Descripción del proyecto: Sitio web de ejercicios donde realizé el Backend con PHP y la gestión de la base de datos con MySQL</p>
            <a href="https://drive.google.com/drive/folders/1PnTb4ON7YjYtqcVB6B0DBIOPcUnaOTKS">Ver evidencia del proyecto</a>
          </li>
        </ul>
      </section>

</body>




        

        
        

