<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" routerLink="/route-1" routerLinkActive="active" href="/inicio">
      <img src="assets/logoarg.png" alt="Bootstrap" width="130" height="80">
      <a></a>
    </a>
    <ul class="navbar-nav ">
      <li>
        <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="https://www.facebook.com/mi_perfil">Facebook</a>
        <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="https://www.twitter.com/mi_perfil">Twitter</a>
        <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="/ingresar">Ingresar</a>
      </li>
    </ul>
</nav>



