<div class="todo">
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" routerLink="https://argentina-programa-14751.web.app" routerLinkActive="active">
      <img src="assets/logoarg.png" alt="Bootstrap" width="130" height="80">
      <a></a>
    </a>
    <ul class="navbar-nav ">
      <li>
        <a *ngIf="logeado" class="nav-link" routerLink="https://github.com/agusmeneses" routerLinkActive="active">GitHub</a>
        <a *ngIf="logeado" class="nav-link" routerLink="https://www.linkedin.com/in/agustin-edgardo-meneses-63120523b/" routerLinkActive="active">Linkedin</a>
        <a *ngIf="!logeado" class="nav-link" routerLink="https://argentina-programa-14751.web.app" routerLinkActive="active">Ingresar</a>
        <a *ngIf="logeado" class="nav-link" (click)="logOut()" routerLink="https://argentina-programa-14751.web.app" routerLinkActive="active">Salir</a>
      </li>
    </ul>
</nav>
</div>



